@font-face {
    font-family: notoserif;
    src:url(fonts/NotoSerif-Regular.ttf);
}

@font-face {
  font-family: popin;
  src:url(fonts/Poppins-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
}

#container{
  width: 100%;
  height: 800px;
  background-color: #f3f3f3;
}

.content{
  width: 72%;
  margin: 0 auto;
}

#headerppal{
  width: 100%;
  font-family: "notoserif";
  text-align: center;
  overflow: hidden;
}

.headerTop{
  background: white;
  height: 40px;
  line-height: 40px;
}

.headerTop h2{

  font-weight: 600;
  letter-spacing:1px;
  transform: scaleY(1.2);
  transform: scaleX(.8);
}

.logo{
  background: white;
  font-family: "popin";
  font-weight: bold;
  width: 100%;
  height: 82px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #f2f2f2;
  padding:10px 0 10px 0;
  line-height: 40px;
}

.logo h1{
  text-align: right;
  width: 59%;
  float: left;
  margin-top: 15px;
  color: #96c627;
  font-weight: bold;
  font-size: 40px;
}

 .logo img{
   float: left;
}

#menu{
  width: 100%;
  background: white;
}

 #menu ul{
   list-style: none;
   margin-left: 0;
   overflow: hidden;
   box-shadow: 0px 1px 4px #dedede, 0px 2px 6px #dedede;
   padding-left: 260px;
 }

 #menu ul li{
   float: left;
   padding: 10px;
   font-size: 12px;
   text-align: center;
   text-transform: uppercase;
   font-family: Arial;
 }

 #menu ul li a{
   color: black;
   text-decoration: none;
 }

 .contentcaja{
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   margin-top: 20px;
   grid-gap: 5px;
 }

.caja{
  width: 214px;
  height: 195px;
  font-family: "notoserif";
  font-weight: bold;
  text-align: center;
}

.caja a{
  color: black;
}

.imgcaja, .imgcaja1{
  width: 100%;
  height:120px;
  background-size: contain;
}

.imgcaja1{
  background-image: url(img/silla.jpg);
}

.flechai, .flechad{
  width: 40px;
  height: 117px;
  background-color: #f3f3f3;
  box-shadow: 0px 1px 2px #dedede, 0px 2px 3px #dedede, 0px 3px 4px #dedede;
}

.flechad span, .flechai span{
  display: block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 45px;
  border-top: 4px solid #191a1e;
  border-right: 4px solid #191a1e;
  transform: rotate(45deg);
}

.flechai span{
  transform: rotate(225deg);
  right: -15px;
}
.flechai:hover, .flechad:hover{
  background: #ccc;
}

.grandes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-top: 10px;
}

.bigimage, .bigimage1{
  width: 493px;
  height: 313px;
  background-image: url(img/parche.jpg);
  background-size: cover;
}

.bigimage::before, .bigimage1::before{
  content: "";
  position:absolute;
  top: 404px;
  bottom: -100px;
  left: 190px;
  right: 666px;
  /* background-color: rgba(0, 0, 0, 0.4); */
  background: linear-gradient(to top, black, transparent);
  opacity: 0.8;
}

.bigimage1::before{
  left: 696px;
  right: 158px;
}

.bigimage1{
  background-image: url(img/multimedia.jpg);
  background-position:center;
}

.bigimage h2, .bigimage1 h2{
  width: 80%;
  color:white;
  font-size: 30px;
  text-align: left;
  margin-top: 170px;
  padding-left: 20px;
  position: relative;
  font-family: "notoserif";
}

.bigimage1 h2{
  margin-top: 130px;
  width: 90%;
}
