body {
  margin: 0;
  background: #dedede;
  display: flex;
  align-items: center;
  height: 100vh;
}

#marcador {
  font-weight: bold;
  font-size: 20px;
  position: fixed;
  top: 15px;
}

#marcador p {
  margin: 0;
  margin-bottom: 10px; 
}
.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 90vh;
  max-width: 90vh;
  position: relative;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  background: #22a6b3;
  /* position: relative; */
}

.celeste.light {
  background: #7ed6df;
}

.violeta {
  background: #be2edd;
}

.violeta.light {
  background: #e056fd;
}

.naranja {
  background: #f0932b;
}

.naranja.light {
  background: #ffbe76;
}

.verde {
  background: #6ab04c;
}

.verde.light {
  background: #badc58;
}

.btn-start {
  width: 100%;
  height: 90px;
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 2.5rem;
  position: absolute;
  top: 42%;
  left: 0;
  border-radius:3rem;
  border-right: none ;
  border-left: none ;
}

.hide {
  display: none;
}

/* --------responsive--------- */

@media  (max-width: 430px) {
  .gameboard {
    width: 55vh;
    height: 55vh;
  }

  .btn-start {
    height: 4rem;
    top: 40%;
    font-size: 2rem;
  }
}

@media  (max-width: 300px) {
  .gameboard {
    width: 40vh;
    height: 40vh;
  }

  .btn-start {
    height: 3rem;
    /* top: 44%; */
    font-size: 1rem;
  }
}

@media  (min-height: 630px) {
  .gameboard {
    width: 45vh;
    height: 45vh;
  }
}