*{
  margin: 0;
  padding: 0;
}
#title{
  padding-bottom: 10px;
  text-align: center;
}
.container{
  width: 80%;
  margin: 2rem auto;
}

.content{
  display: block;
  margin:auto;
  width: 300px;
  height: 550px;
  border: 1px solid black;
  margin-bottom: 40px;
  background: lightblue;
  border-radius: 15px;
}

.screen{
  width: 100%;
  height: 20%;
  /* background: lightblue; */
  border-bottom: 1px solid black;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sign {
  position: absolute;
  left: 5px;
  top: 2px;
  font-weight: 900;
  text-shadow: .5px .5px;
}

#show {
  width: 99%;
  height: 80%;
  font-size: 50px;
  text-align: right;
  overflow: hidden;
  border: 1px solid black;
}

#show:focus-visible {
  outline: none;
  border: 1px solid black;
}

#number{
  width: 95%;
  height: 80%;
  margin: auto;
  position: relative;
}

.contentButton{
  display: flex;
  flex-wrap: wrap;
  margin-top:10px;
}

.button{
  flex-basis: 60px;
  flex-grow: 1;
  height: 70px;
  margin: 5px;
}

.button input{
  border: 1px solid darkblue;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  font-size: 24px;
  cursor: pointer;
}

.button input:hover {
  box-shadow: .5px .5px black;
}
.button input:active {
  background-color: #f0f0f090;
}
